@font-face {
    font-family: IRANSans;
    src: url("./IRANSansWeb_Light.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: IRANSans;
    src: url("./IRANSansWeb.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: IRANSans;
    src: url("./IRANSansWeb_Medium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: IRANSans;
    src: url("./IRANSansWeb_Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}

